<!doctype html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<title>Wahi Time Co. LTD</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/">
	<link rel="shortcut icon" href="" />

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="./bootstrap/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="./images/" />

	<script data-ad-client="ca-pub-4697597730958440" async
		src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
		</script>
	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			user-select: none;
		}


		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}

		.footer-links {
			flex: space-between;
		}
	</style>
	<!-- Custom styles for this template -->

</head>

<body class="hero-anime">

	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">

						<a class="navbar-brand"><img src="./images/wahi-logo.png"></a>

						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">

								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
									<a class="nav-link" href="#">Home</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
										aria-haspopup="true" aria-expanded="false">Services</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Furnitures</a>
										<a class="dropdown-item" href="#">Decoration</a>
										<a class="dropdown-item" href="#">Interior Decor</a>
										<a class="dropdown-item" href="#">Outdoor Furniture</a>
									</div>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="#">Gallery</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="#contact">Contact</a>
								</li>
							</ul>
						</div>

					</nav>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var Crate = Crate || {};
		Crate.jQueryEarlyRegistration = [];
		$ = function (func) {
			if (func != null && typeof (func) === "function") {
				Crate.jQueryEarlyRegistration.push(func);
			}
			return {
				ready: function (handler) {
					Crate.jQueryEarlyRegistration.push(handler);
				}
			};
		};
	</script>

	<div class="SuperCatContent super-category-content" role="main">
		<!-- CMS Main Container -->
		<div class="SuperCatCMSMain">
			<!-- CMS Top Container -->
			<div class="SuperCatCMSsmall">
				<div>

				</div>
			</div>
			<!-- /CMS Top Container -->
			<!-- CMS Bottom Container -->
			<div class="SuperCatCMSlarge custom-cms">
				<div>
					<!-- MONOCHROME HOME -->
					<div class='fullDiv'>
						<div class="greatRoomCaro">
							<div><a href=""><img class="fullImg"
										src="//images.crateandbarrel.com/is/image/Crate/dSC_FURN_20170801_livingroom_slide1_aspen?wid=1440&qlt=75&"
										alt=""></a></div>
							<div><a href=""><img class="fullImg"
										src="//images.crateandbarrel.com/is/image/Crate/dSC_FURN_20170801_livingroom_slide2_keely?wid=1440&qlt=75"
										alt=""></a></div>
							<div><a href=""><img class="fullImg"
										src="//images.crateandbarrel.com/is/image/Crate/dSC_FURN_20170801_livingroom_slide3_gramercy?wid=1440&qlt=75"
										alt=""></a></div>
						</div>
						<a href="">
							<div class='textDiv heroText whtOverlay'>
								<!-- make it an h2 -->
								<h2 class='crate-helvetica-light headline-medium cmsBlack'>Monochrome Home</h2>
								<h3 class="cmsBlack crate-utopia-italic copy-sub ctaMargin ">Soothing shades of calm and
									feel-good texture.</h3>
							</div>
						</a>
					</div>


					<!-- CBCC Left Nav-->
					<div class="fullDiv evercontainer nsInt">
						<div class="everInner">
							<a href="">
								<!-- add alt -->
								<img class="cbccNavImg lazyload"
									data-src="//images.crateandbarrel.com/is/image/Crate/d_SC_170101_CBCC_OMN16?fmt=png-alpha&qlt=75"
									alt="crate and barrel credit card">
								<div class="cbccNavText">
									<!-- h2 -->
									<h2 class="crate-helvetica-light headline-small cmsBlack">Earn 10% Back in Reward
										Dollars<br>or up to 6 months special financing.</h2>
									
								</div>
							</a>
						</div>
					</div>

					<!-- RLC RUGS -->
					<div class='fullDiv'>
						<a href="">
							<img class="fullImg"
								src="//images.crateandbarrel.com/is/image/Crate/cb_dSC_20170929_RLC_FrnRgsFtr?wid=1440&qlt=75"
								alt="">
							<div class="rlcRugs textDiv">
								<!-- h2 -->
								<h2 class="crate-helvetica-light headline-medium cmsBlack"><span
										class="cmsRed crate-helvetica-bold">Up to 30% off </span>Rugs</h2>
							</div>
						</a>
					</div>

					<!-- RLC DYPTIC -->
					<div class="new-marginDiv" style="width:86%;">
						<!-- LIGHTING -->
						<div class="rlcLightsDiv">
							<a href="">
								<img class="fullWidth lazyload"
									data-src="//images.crateandbarrel.com/is/image/Crate/cb_dSC_20170929_RLC_LghtngDptch"
									alt="">
								<div class="rlcLightsText textDiv">
									<!-- h2 -->
									<h2 class="crate-helvetica-light cmsBlack headline-small"><span
											class="cmsRed crate-helvetica-bold">Entirior </span>Decor</h2>
									
								</div>
							</a>
						</div>
						<!-- CURTAINS -->
						<div class="rlcCurtainsDiv">
							<a href="">
								<div class="rlcCurtainsText textDiv">
									<!-- h2 -->
									<h2 class="crate-helvetica-light cmsBlack headline-small"><span
											class="cmsRed crate-helvetica-bold">Up to 30% off </span>Curtains</h2>
								</div>
								<img class="fullWidth lazyload"
									data-src="//images.crateandbarrel.com/is/image/Crate/cb_dSC_20170929_RLC_CrtnDptch"
									alt="">
							</a>
						</div>
					</div>


					<!-- DINING TABLES -->
					<div class='fullDiv'>
						<div class="diningCaro">
							<div><a href=""><img class="fullImg"
										src="//images.crateandbarrel.com/is/image/Crate/dSC_FURN_20170801_dining_slide1_aspen?wid=1440&qlt=75"
										alt=""></a></div>
							<div><a href=""><img class="fullImg"
										src="//images.crateandbarrel.com/is/image/Crate/dSC_FURN_20170801_dining_slide2_wilmette?wid=1440&qlt=75"
										alt=""></a></div>
							<div><a href=""><img class="fullImg"
										src="//images.crateandbarrel.com/is/image/Crate/dSC_FURN_20170801_dining_slide3_gramercy?wid=1440&qlt=75"
										alt=""></a></div>
						</div>
						<a href="">
							<div class='textDiv heroText whtOverlay'>
								<!-- h2 -->
								<h2 class='crate-helvetica-light headline-medium cmsBlack'>Lingering is highly<br>
									encouraged. </h2>
							</div>
						</a>
					</div>

					<!-- DIPTYIC -->
					<div class="new-marginDiv" style="width:86%;">
						<!-- CREATE YOUR OWN -->
						<div class="cyoDiv">
							<a href="">
								<img class="fullWidth lazyload"
									data-src="//images.crateandbarrel.com/is/image/Crate/d_FURN_SUPER_gryCouch_20170901"
									alt="">
								<div class="cyoText textDiv">
									<!--h2-->
									<h2 class="crate-helvetica-light cmsBlack headline-small">Bring your exact vision to
										life.</h2>
									<p class="crate-helvetica-bold cmsBlack copy-cta ctaMargin ctaText">Explore Create
										Your Own</p>
								</div>
							</a>
						</div>
						<!-- CUSTOM UPHOLSTERY -->
						<div class="customUpDiv">
							<a href="">
								<div class="customUpText textDiv">
									<h2 class="crate-helvetica-light cmsBlack headline-small">She&rsquo;ll think it was
										made for her.</h2>
								</div>
								<img class="fullWidth lazyload"
									data-src="//images.crateandbarrel.com/is/image/Crate/d_FURN_SUPER_dog_20170901"
									alt="">
							</a>
						</div>
					</div>

					<!-- FAMILY FRIENDLY FABRICS -->
					<div class="new-marginDiv">
						<a href="">
							<div class="fffTitle">
								<h2 class='crate-helvetica-light headline-medium cmsBlack'>Full house? We say bring it
									on.</h2>
							</div>
					</div>
					<img class="lazyload"
						data-src="./images/living.jpg"
						alt="">
					</a>
				</div>


				<!-- STANDING BARS -->
				<div class="fullDiv" style="margin:5vw 0vw">
					<a href="">
						<div style="width:66%">
							<img class="fullWidth lazyload"
								data-src="//images.crateandbarrel.com/is/image/Crate/d_FURN_SUPER_bar_20170901?qlt=75&amp;wid=1203"
								alt="">
						</div>
						<div style="width:35%;position:absolute;top:31%;right:7%;">
							<img class="fullWidth lazyload"
								data-src="//images.crateandbarrel.com/is/image/Crate/d_FURN_SUPER_barSm_20170901?qlt=75&amp;wid=531&amp;fmt=png-alpha"
								alt="">
						</div>
						<div class="textDiv barsText">
							<h2 class="crate-helvetica-light headline-medium ctaMargin">Always up for a party.</h2>
						</div>
					</a>
				</div>

				<!-- OXFORD BEDROOM -->
				<div class='fullDiv'>
					<a href="">
						<img class="fullImg lazyload"
							data-src="//images.crateandbarrel.com/is/image/Crate/d_FURN_SUPER_gryBed_20170901?wid=1440&qlt=75"
							alt="">
						<div class="oxfordText textDiv">
							<h2 class="crate-helvetica-light headline-medium cmsWhite">Deco inspired, <br>modern
								mood.</h2>
						</div>
					</a>
				</div>

				<!-- DELTA CHAIRS -->
				<div class="marginDiv" style="margin:9% 0%">
					<a href="">
						<div style="width:66%; float:right;">
							<img class="fullWidth lazyload"
								data-src="//images.crateandbarrel.com/is/image/Crate/d_FURN_SUPER_chairs_20170901?qlt=75&amp;wid=1110"
								alt="">
						</div>
						<div class="textDiv deltaChairs">
							<h2 class="crate-helvetica-light headline-medium ctaMargin cmsBlack">Five sleek
								finishes</h2>
						</div>
					</a>
				</div>
				<a href="#" id="back-to-top" class="back-to-top" style="display: inline;"><i class="fa fa-arrow-up"></i></a>
				<!-- CURALATE -->
				<div class="curalateDiv" id="contact" style='margin-top:6vw;'>
					<div class="curalateText" >
						<h2 class="crate-helvetica-light headline-medium"
							style="text-transform:uppercase;text-align:center">#cratestyle</h2>
						<p class="copy-sub crate-helvetica-roman" style="text-align:center;"></a> <strong>Get inspired.</strong>
							 <br>Follow us on
							Instagram @wahi_time_faniture</p>
					</div>
					<div id="curalate-fan-reel-wrapper" class='curalateMargins'></div>
				</div>

				<script type="text/javascript"
					src="//d116tqlcqfmz3v.cloudfront.net/crateandbarrel-288/gallery.js"></script>
				<script defer type="text/javascript"
					src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/3.0.0/lazysizes.min.js"></script>
				<script defer type="text/javascript"
					src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
				<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
				<script type="text/javascript">

					Curalate.FanReels.Gallery.init({ code: "crateandbarrel", filters: { tags: "furniture" } });

					function runTheThings() {
						if ($('.centerMenu').length != '1') {
							$('.super-category-content').addClass('addTopBorder')
						}
						$(document).ready(function () {
							$(".greatRoomCaro, .diningCaro").slick({
								dots: true,
								fade: true,
								speed: 1200,
								autoplay: true,
								autoplaySpeed: 3000,
								pauseOnDotsHover: true,
								pauseOnHover: false,
							});
						});
					};

					function jQueryIsLoaded() {
						if (window.jQuery) {
							console.log("jQuery is loaded")

							runTheThings();
						} else {
							setTimeout(jQueryIsLoaded, 50);
						}
					}

					jQueryIsLoaded();
				</script>
				
			</div>
		</div>
	</div>

	</section>
	<div class="clear"></div>



	
    <script>
        var link = document.getElementById("back-to-top");
        var amountScrolled = 250;

        window.addEventListener('scroll', function (e) {
            if (window.pageYOffset > amountScrolled) {
                link.classList.add('show');
            } else {
                link.className = 'back-to-top';
            }
        });
        link.addEventListener('click', function (e) {
            e.preventDefault();

            var distance = 0 - window.pageYOffset;
            var increments = distance / (500 / 16);

            function animateScroll() {
                window.scrollBy(0, increments);
                if (window.pageYOffset <= document.body.offsetTop) {
                    clearInterval(runAnimation);
                }
            };
            // Loop the animation function
            var runAnimation = setInterval(animateScroll, 16);
		});
	</script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script>
		window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="./bootstrap/js/style.js"></script>
	<script src="./bootstrap/js/body.js"></script>
</body>